.video__category {
  margin-bottom: 1em;
  border-bottom: 0.5px solid #eee;
}

.video__posters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.video__poster {
  width: 25%;
  height: auto;
  margin: 2em;
}

.poster__img {
  width: 100%;
  margin-bottom: 1em;
  object-fit: cover;
  align-items: center;
}

.fyrirsogn {
  margin-bottom: 3em;
}

.video__date {
  color: #fff;
}

.video__title {
  text-align: center;
  color: #FFF;
  display: block;
  overflow: hidden;
  font-weight: bold;
  color: #fff;
  text-overflow: clip;
  white-space: nowrap;
}

.video__duration {
  position: absolute;
  z-index: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);

}

@media (max-width: 599px) {
  .video__poster {
    width: 100%;
  }
}
