.video__category {
}

.video__posters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.video__poster {
  margin: 2em;
  width: 25+%;
  height: auto;
}

.poster__img {
  width: 100%;
  margin-bottom: 1em;
  object-fit: cover;
  align-items: center;
  border-radius: 10px;
}

.fyrirsogn {
  margin-bottom: 3em;
}

.video__date {
  color: #FFF;
}

.video__title {
  color: #FFF;
}
