.video__category {
  border-bottom: 0.5px solid #eee;
  margin-bottom: 1em;
}

.video__posters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.video__poster {
  margin: 2em;
  width: 25%;
  height: auto;
}

.poster__img {
  width: 100%;
  margin-bottom: 1em;
  object-fit: cover;
  align-items: center;
}

.fyrirsogn {
  margin-bottom: 3em;
}

.video__date {
  color: #FFF;
}

.video__title {
  color: #FFF;
  overflow: hidden;
  text-overflow: clip;
  display: block;
  white-space: nowrap;
  font-weight: bold;
}

.video__duration {
  position: absolute;
  z-index: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);

}

@media(max-width: 599px) {
  .video__poster {
    width: 100%;
  }
}
