.valmynd {
  display: flex;
  width: 35%;
  margin: auto;
}

.imgValmynd {
  width: 50px;
  height: 50px;
}

.TilBaka {
  display: block;
  width: 5%;
  padding-top: 3em;
  margin: auto;
  font-weight: bold;
}

a { /* stylelint-disable-line */
  text-decoration: none;
}

.video__player {
  position: fixed;
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  margin-top: 10em;
  position: relative;
  z-index: -1;
}

.video__container {
  width: 100%;
  max-width: 100%;
  margin: auto;
  margin-top: 10em;
}

.video{
  width: 100%;
}

@media(max-width: 599px) {
  .valmynd{
    display: block;
    width: 100%;
    margin: 0, auto, 0, auto;
  }
}

.error {
  padding: 1em;
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.video__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 999;
}

.invisible {
  visibility: hidden;
}

.play__button {
  margin: auto auto;
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 10%;
  left: 0;
  right: 0;

}
