.valmynd {
  display: flex;
  width: 35%;
  margin: auto;
}

.video__container .video__title {
  text-align: center;
}

.imgValmynd {
  width: 50px;
  height: 50px;
}

.TilBaka {
  display: block;
  width: 5%;
  padding-top: 3em;
  margin: auto;
  font-weight: bold;
}

a { /* stylelint-disable-line */
  text-decoration: none;
}

.video__player {
  width: 100%;
  max-width: 1000px;
  margin-top: 2em;
}

.video__container {
  width: 100%;
  max-width: 1000px;
  padding: 5em 0;
  margin: auto;
}

.video {
  width: 100%;
}

@media (max-width: 599px) {
  .valmynd {
    display: block;
    width: 100%;
    margin: 0, auto;
  }
}

.error {
  padding: 1em;
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.video__overlay {
  position: relative;
  display: flex;
  width: 1000px;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

.video__overlay__invisible {
  background-color: transparent;
  opacity: 1;
}

.invisible {
  visibility: hidden;
}

.play__button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 10%;
}

.video__title {
  color: #fff;
}
