.valmynd {
  display: block;
  width: 35%;
  margin: auto;
}

.TilBaka {
  display: block;
  width: 5%;
  padding-top: 3em;
  margin: auto;
  font-weight: bold;
}

a { /* stylelint-disable-line */
  text-decoration: none;
}
