*, *:before, *:after { /* stylelint-disable-line */
  margin:auto;
  max-width: 1200px;
}

.video__category {
}

.video__posters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.video__poster {
  width: 50%;
  height: auto;
}

.poster__img {
  width: 100%;
  object-fit: cover;
  align-items: center;
}

.fyrirsogn {
  margin-bottom: 3em;
}

.video__date {
  color: #FFF;
}

.video__title {
  color: #FFF;
}
@import "scss/background";
